# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.library
*.so
*.so.*

# Executables
*.out
WacomTablet.usbfd
WacomTablet.usbfd.debug
WacomPrefs
WacomPrefs.debug

